*.pyc

# Ignore the virtual environment
venv/
.env

# Ignore the database
*.sqlite3

# Ignore static files and media files
staticfiles/
media/

# Ignore secret settings
secret_settings.py

# Ignore logs
*.log

# Ignore cache and temporary files
__pycache__/
*.swp
*.swo
*.bak
*.tmp
*.cache

# Ignore IDE files
.vscode/
.idea/
*.pydevproject

# Ignore migration files
**/migrations/